/* SideBar CSS Section */
.sidenav{
  height: 100%;
  width: 20%;
  position: relative;
  z-index: 0;
  top: 0;
  left: 0;
  background-color: powderblue;
  overflow-x: scroll;
  padding-top: 0%;
  font-size: 2vh;
  /* Sdisplay: block; */
}
.sidenav a{
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  
}
div li {
  background-color: red;
}

.sidenav a:hover{
  color: #f1f1f1;
}
#sideHeader{
  margin-top: 5%;
  color: black;
  text-align: center;
}
#sideAnchor{
  text-align: center;
  background-color: powderblue;
}
#sideButton{
  font-size: xx-large;
  font-size: large;
  background-color: white;
}
/* Main and Body */
.main{
  /* margin-left: 190px; Same as the width of the sidenav */
  margin-left: 20%; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  /* padding-bottom: 0%; */
  width: 100%;
  height: 100%;
  margin-top: 0px;
  /* margin-right:20px; */
  overflow:scroll;
  vertical-align: auto;
  background-color: lightgrey;
  /* background-size: cover; */
  
}
html{
  /* position: fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-size: cover; */
  width: 100%;
  height: 100%;
}
body{
  font-family: "Lato", sans-serif;
  /* font-family: Verdana; */
  background-color: white;
  margin: 0;
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  /* overflow:auto; */
}
#days{
  font-size: 15px;
  text-align: center;
  margin-top: 70px;
}
#mainHead{
  color: black;
  text-align: center;
  background-color: beige;
  margin-top: 0;
  margin-bottom: 0;
  background-size: 100%;
}


  div{
    width:100%;
    height: 100%;
  }
  
  th, td {
    /* padding-top: 15px;
    padding-bottom: 15px; */
    /* padding-left: 5px;
    padding-right: 5px; */
    height: 100%;
    border: 1px  solid black;
  }
  table{
    width: 82%;
    margin-left: 0px;
    height: 95%;
    overflow: scroll;
	position: absolute;
	top: 106px;
    /* align-items: center; */
  }
  tr{
    vertical-align: middle;
  }
  th{
    /* padding-left: 1%; */
    font-size: medium;
    overflow:auto
  }