.col-mon{
    float: left;
    /* margin-left: 185px; */
    width: 10%;
    background-color: rebeccapurple;
  }
  .col-tues{
    float: left;
    width: 10%;
    background-color: red;
  }
  .col-tues{
    float: left;
    width: 10%;
    background-color: red;
  }
  .col-tues{
    float: left;
    width: 10%;
    background-color: red;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
    }