.calendar {
    display: flex;
    flex-flow: column;
    overflow: scroll;
    width: 96.5%;
    height: 100%;
}
.calendar .header .month-year {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    color: #448cd6;
    padding: 5px 0;
}
.header{
    height: 5%;
}
.calendar .days {
    display: flex;
    flex-flow: wrap;
    flex-wrap: wrap;
    border-radius: 4px;

}
.calendar .days .day_name {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(87.5% / 7);
    height: 5%;
    border-right: 1px solid #2c7aca;
    /* padding: 10px; */
    text-transform: uppercase;
    font-size: large;
    color: #fff;
    background-color: #448cd6;
    
    
}
.calendar .days .day_name:nth-child(7) {
    border: none;
}
.calendar .days .day_num:hover, .calendar .days .day_num:hover .event-list {
    background-color: gainsboro;
}
.calendar .days .day_num {
    display: flex;
    flex-flow: column;
    width: calc(76.75% / 7);
    width: calc(87.5% / 7);
    border-right: 1px solid #e6e9ea;
    /* border-bottom: 1px solid #e6e9ea; */
    /* padding: 10px; */
    /* padding: 1%; */
    font-weight: bold;
    color: #7c878d;
    cursor: pointer;
    /* min-height: 100px; */
    min-height: 20%;
    /* min-height: 5%; */
    height: 5%;
    background-color: white;
    border-radius: 8px;
    

}
.calendar .days .day_num span {
    display: inline-flex;
    width: 30px;
    width: 10%;
    font-size: 14px;
    font-size: small;
}
.calendar .days .day_num .event {
    display: block;
    font-weight: 500;
    font-size: 14px;
    padding: 3px 6px;
    border-radius: 4px;
    background-color: #2a2513;
    color: #ffffff;
    word-wrap: initial;
    z-index: 1;
    margin-bottom: 5px;
}

.calendar .days .day_num .event-list .event {
    display: block;
    width: 96%;
    padding: 3.5px;
    font-family: "Lato", sans-serif;
    word-wrap: break-word;
    box-shadow: none;
}


.calendar .days .day_num .event-list {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1; /* lower than modal */
    margin-top: 2%;
    padding: 5px;
    background-color: white;
    overflow-y: scroll; 
    box-shadow: none;


  }



.calendar .days .day_num .event.green {
    background-color: #6ac56e;
}
.calendar .days .day_num .event.blue {
    background-color: #669bd0;
}
.calendar .days .day_num .event.red {
    background-color: #f55151;
}
.calendar .days .day_num .event.orange {
    background-color: #e6ba3f;
}
.calendar .days .day_num .event.purple {
    background-color: #f551f2;
}
.calendar .days .day_num .event.black {
    background-color: #4f4e4e;
}
.calendar .days .day_num:nth-child(7n+1) {
    border-left: 1px solid #e6e9ea;
}

.calendar .days .day_num.ignore {
    background-color: #fdfdfd;
    background-color: #989696;
    color: #ced2d4;
    cursor: inherit;
}
.calendar .days .day_num.selected {
    background-color: #f1f2f3;
    background-color: gainsboro;
    cursor: inherit;
}

.calendar .days .day_num.selected .event-list{
    background-color: #f1f2f3;
    background-color: gainsboro;
    cursor: inherit;
}
.calendar .days .day_num .event-list::-webkit-scrollbar {
    display:none
}